.frameSize {
  position: absolute;
  display: flex;
  margin-top: -50px;
  height: 50vh;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
  position: relative;
}
